<a href="https://colab.research.google.com/github/Vaibhavsharma0209/Markowitz-Model/blob/master/Fucking_Markowitz_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import quandl as q
from datetime import datetime
from pandas_datareader.data import DataReader
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [0]:
start = datetime(2018,1,1)
end = datetime(2020,3,3)

In [0]:
amd = DataReader('AMD', 'yahoo', start, end)
nvidia = DataReader('NVDA', 'yahoo', start, end)
tesla = DataReader('TSLA', 'yahoo', start, end)
google = DataReader('GOOG', 'yahoo', start, end)

In [0]:
print(amd.head())
columns_name = 'High Low Open Close Volume'
column = columns_name.split()

             High    Low   Open  Close     Volume  Adj Close
Date
2018-01-02  11.02  10.34  10.42  10.98   44146300      10.98
2018-01-03  12.14  11.36  11.61  11.55  154066700      11.55
2018-01-04  12.43  11.97  12.10  12.12  109503000      12.12
2018-01-05  12.22  11.66  12.19  11.88   63808900      11.88
2018-01-08  12.30  11.85  12.01  12.28   63346000      12.28

In [0]:
for stock in (amd, nvidia, tesla, google):
    stock['norm returns'] = stock['Adj Close'] / stock.iloc[0]['Adj Close']
    stock.drop(columns = column, inplace = True)

In [0]:
amd.tail()

            Adj Close  norm returns
Date
2020-02-26  47.490002      4.325137
2020-02-27  44.009998      4.008197
2020-02-28  45.480000      4.142077
2020-03-02  47.459999      4.322404
2020-03-03  46.750000      4.257742

In [0]:
Adj_close = pd.concat([amd['Adj Close'], nvidia['Adj Close'], tesla['Adj Close'], google['Adj Close']], axis = 1)

In [0]:
Adj_close.columns = ('Amd Adj close', 'Nvidia Adj close', 'Tesla Adj close', 'Google Adj close')

In [0]:
Adj_close.head()

            Amd Adj close  Nvidia Adj close  Tesla Adj close  Google Adj close
Date
2018-01-02          10.98        197.903580       320.529999       1065.000000
2018-01-03          11.55        210.928375       317.250000       1082.479980
2018-01-04          12.12        212.040237       314.619995       1086.400024
2018-01-05          11.88        213.837097       316.579987       1102.229980
2018-01-08          12.28        220.389221       336.410004       1106.939941

In [0]:
Adj_close_log = np.log(Adj_close / Adj_close.shift(1))
print(Adj_close_log)

            Amd Adj close  Nvidia Adj close  Tesla Adj close  Google Adj close
Date
2018-01-02            NaN               NaN              NaN               NaN
2018-01-03       0.050610          0.063739        -0.010286          0.016280
2018-01-04       0.048172          0.005257        -0.008325          0.003615
2018-01-05      -0.020001          0.008438         0.006210          0.014466
2018-01-08       0.033116          0.030181         0.060755          0.004264
...                   ...               ...              ...               ...
2020-02-26      -0.001683          0.021145        -0.026745          0.003401
2020-02-27      -0.076102         -0.057275        -0.137133         -0.055405
2020-02-28       0.032856          0.066874        -0.016348          0.015986
2020-03-02       0.042615          0.023276         0.107257          0.036494
2020-03-03      -0.015073         -0.038875         0.002538         -0.034957

[545 rows x 4 columns]

In [0]:
print(Adj_close_log.mean()* 252)
print(f'\n{Adj_close_log.std()* 252}')

Amd Adj close       0.671107
Nvidia Adj close    0.136795
Tesla Adj close     0.391014
Google Adj close    0.106883
dtype: float64

Amd Adj close       9.129653
Nvidia Adj close    7.324070
Tesla Adj close     9.341011
Google Adj close    4.205861
dtype: float64

In [0]:
#weights
np.random.seed(42)
weights = np.array(np.random.random(4))
weights = weights/np.sum(weights)
print(f'Weights : {weights}')

#Expected Returns
Ep = np.sum((Adj_close_log.mean() * weights) * 252)
print(f'Expected Returns : {Ep}')

#Expected Volatility
Vp = np.dot(weights.T,np.dot(Adj_close_log.cov() * 252, weights))
Sp = np.sqrt(Vp)
print(f'Expected Volatility : {Sp}')

#Sharpe Ratio
sharpe_ratio = (Ep / Sp)
print(f'\nSharpe Ratio : {sharpe_ratio}')

Weights : [0.14102156 0.35796222 0.27560979 0.22540643]
Expected Returns : 0.2754671551419887
Expected Volatility : 0.35377691022310825

Sharpe Ratio : 0.7786465062636967